{{>sidebar}}
{{>settings_sidebar}}
{{>header}}
{{>token}}
{{>loader}}

<div class="settings-wrapper">
    <a class="link" href="/settings/discounts/create/">Create Discount</a>

    <button onclick="deleteSelectedDiscounts()" type="submit">Delete</button>
    <div class="discounts table">
        <table>
            <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input  type="checkbox" onchange="checkAllBoxes(this)"> 
                        </label>
                    </th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Total Amount</th>
                    <th>Percentage Amount</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {{#each discounts}}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input  type="checkbox" class="discount-checkbox box-checkbox" data-id="{{_id}}"> 
                            </label>
                        </td>
                        <td><a class="link" href="/settings/discounts/edit/{{_id}}">{{name}}</a></td>
                        <td>{{code}}</td>
                        <td>{{../user.currency_symbol}} {{amount.total}}</td>
                        <td>{{amount.percentage}}%</td>
                        <td>{{description}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>