{{>sidebar}}
{{>header}}
{{>token}}
{{>error}}

<div class="wrapper">
    <a href="/projects/create" class="button create-project-button">Create Project</a>

    {{#if success}}
        <div class="alert alert-success" role="alert">
            Project added!
        </div>
    {{/if}}

    <button onclick="deleteSelectedProjects()" type="submit">Delete</button>
    <div class="projects table">
        <table class="table-sort">
            <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input  type="checkbox" onchange="checkAllBoxes(this)"> 
                        </label>
                    </th>
                    <th data-sort="name" data-field="name" data-link="/project/">Name</th>
                    <th data-sort="customer_name" data-field="customer_name">Customer</th>
                    <th data-sort="total_time" data-field="total_time">Time</th>
                    <th data-sort="billed" data-field="billed">Billed</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input  type="checkbox" class="project-checkbox box-checkbox" data-id="{{_id}}"> 
                            </label>
                        </td>
                        <td><a class="link" href="/projects/project/{{_id}}">{{name}}</a></td>
                        <td>{{customer_name}}</td>
                        <td>{{total_time}}</td>
                        <td> {{#if billed}}Yes{{else}}No{{/if}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {{#if (gt currentPage 1)}}
        <a class="previous" data-current-page="{{currentPage}}" data-page="{{subtract currentPage 1}}" href="?page={{subtract currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Previous</a>
        {{/if}}
        {{#if (lt currentPage totalPages)}}
        <a class="next" data-current-page="{{currentPage}}" data-page="{{add currentPage 1}}" href="?page={{add currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Next</a>
        {{/if}}
    </div>
</div>