{{>sidebar}}
{{>header}}
{{>token}}
<div class="wrapper create-invoice">
    <a class="link" href="/invoices/">Invoices</a>

    <form action="/invoices/create" method="post">
        <div class="separate">
            <h2>Create Invoice</h2>

            <label for="invoice_number">Number:</label>
            <div class='full-input'><label for='invoice_number'>{{customization.invoice_prefix}} {{customization.invoice_separator}}</label>
                <input type="text" id="invoice_number" name="invoice_number" value="{{new_invoice_number}}" >
            </div>

            <label for="customer_id">Customer:</label>
            <div class="data-list">
                <input list="" name="customer_id" id="customer_id" class="data-list-input" autocomplete="off"  data-datalist-id="customer_id-datalist">
                <datalist name="customer_id" class="data-list-datalist" id="customer_id-datalist">
                    {{#each customers}}
                        <option class="customer-option" value="{{#if personal_information.company}}{{personal_information.company}}{{else}}{{personal_information.first_name}} {{personal_information.last_name}}{{/if}}" data-id="{{_id}}">
                            {{#if personal_information.company}}{{personal_information.company}}{{else}}{{personal_information.first_name}} {{personal_information.last_name}}{{/if}}
                        </option>
                    {{/each}}
                </datalist>
            </div>
        </div>

        {{!-- Products --}}
        <div class="separate">
            <div class="add-container">
                <div class="add-el-container">
                    <div class="add-el">
                        <label class="data-list-label" for="product">Product:</label>
                        <div class="data-list">
                            <input list="" name="product_ids[]" class="data-list-input" id="product" autocomplete="off"  data-datalist-id="product-datalist">
                            <datalist name="product_id" class="data-list-datalist" id="product-datalist">
                                {{#each products}}
                                    <option value="{{name}}" data-id="{{_id}}" data-price="{{price}}">{{name}}</option>
                                {{/each}}
                            </datalist>
                        </div>
                        <label for="product-quantity">Quantity:</label>
                        <input class="product-quantity" type="number" name="product_quantities[]" id="product-quantity" value="1" oninput="changeInvoice(this)">
                    </div>
                </div>
            </div>

            <!-- "+" button to add more elements -->
            <button type="button" class="addButton" onclick="addElement(this.parentElement)">Add Another Product</button>
        </div>

        {{!-- Projects --}}
        <div class="project-billing separate hidden">
            <label class="data-list-label" for="project">Bill Project:</label>
            <div class="data-list">
                <input list="" name="project_id" class="data-list-input" id="project" autocomplete="off" data-datalist-id="project-datalist">
                <datalist name="project_id" class="data-list-datalist" id="project-datalist">
                </datalist>
            </div>
            <label class="data-list-label" for="project_hour_rate">Hour Rate:</label>
            <div class='full-input'><label for='price'>{{user.currency_symbol}}</label>
                <input type="number" name="project_hour_rate_id" class="data-list-input" id="project_hour_rate" autocomplete="off" data-datalist-id="project-hour-rate-datalist" step="1" oninput="updatePriceWithProject(this)">
            </div>
        </div>

        {{!-- Discount --}}
        <div class="separate">
            <div class="add-container">
                <div class="add-el-container">
                    <div class="add-el">
                        <label class="data-list-label" for="discount">Discount:</label>
                        <div class="data-list">
                            <input list="" name="discount_ids[]" class="data-list-input" id="discount" autocomplete="off" data-datalist-id="discount-datalist">
                            <datalist name="discount_id" class="data-list-datalist discount-data-list" id="discount-datalist">
                                {{#each discounts}}
                                    <option value="{{name}}" data-id="{{_id}}" data-amount-total="{{amount.total}}" data-amount-percentage="{{amount.percentage}}">{{name}}</option>
                                {{/each}}
                            </datalist>
                        </div>
                    </div>
                </div>
                <!-- "+" button to add more elements -->
                <button type="button" class="addButton" onclick="addElement(this.parentElement)">Add Another Discount</button>
            </div>
        </div>

        {{!-- Tax --}}
        <div class="separate">
            <label class="data-list-label" for="tax">Tax:</label>
            <div class="data-list">
                <input list="" name="tax_id" class="data-list-input" id="tax" autocomplete="off" data-datalist-id="tax-datalist" value="{{defaultTax.name}}">
                <datalist name="tax_id" class="data-list-datalist" id="tax-datalist">
                    {{#each taxes}}
                        <option {{#if default}}class="selected"{{/if}} value="{{name}}" data-id="{{_id}}" data-percentage="{{percentage}}">{{name}}</option>
                    {{/each}}
                </datalist>
            </div>
        </div>

        {{!-- Shipping --}}
        <div class="separate">
            <label for="shipping_amount">Shipping Amount:</label>
            <input type="number" name="shipping_amount" id="shipping_amount" oninput="changeInvoice(this)">

            <label class="data-list-label" for="shipping_company">Shipping Company:</label>
            <div class="data-list">
                <input list="" name="shipping_company_id" class="data-list-input" id="shipping_company" autocomplete="off" data-datalist-id="shipping-company-datalist">
                <datalist name="shipping_company_id" class="data-list-datalist" id="shipping-company-datalist">
                    {{#each shipping_companies}}
                        <option value="{{name}}" data-id="{{_id}}">{{name}}</option>
                    {{/each}}
                </datalist>
            </div>
        </div>

        {{!-- Paid --}}
        <div class="separate">
            <label for="due_date">Due Date:</label>
            <input type="date" id="due_date" data-date-format="{{user.date_format}}" name="due_date" value="2024-10-10">
            <div class="add-container">
                <div class="add-el-container">
                    <div class="add-el">

                        <label for="paid_on">Paid On:</label>
                        <input type="date" id="paid_on" data-date-format="{{user.date_format}}" name="paid_on[]" >

                        <label for="paid_amount">Paid Amount:</label>
                        <input class="paid-amount" type="number" step="0.01" id="paid_amount" name="paid_amount[]" oninput="changeInvoice(this)">

                        <label class="data-list-label" for="payment_method">Payment Method:</label>
                        <div class="data-list">
                            <input list="" name="payment_method_id[]" class="data-list-input" id="payment_method" autocomplete="off" data-datalist-id="payment-method-datalist">
                            <datalist name="payment_method_id" class="data-list-datalist" id="payment-method-datalist">
                                {{#each payment_methods}}
                                    <option value="{{name}}" data-id="{{_id}}">{{name}}</option>
                                {{/each}}
                            </datalist>
                        </div>
                    </div>
                </div>
                <!-- "+" button to add more elements -->
                <button type="button" class="addButton" onclick="addElement(this.parentElement)">Add Another Payment</button>
            </div>
        </div>

        {{!-- Description --}}
        <div class="separate">
            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>

        <div class="separate">
            <div class="inline">
                <p>Product total:</p><p class="total_products">0.00</p>
            </div>
            <div class="inline">
                <p>Shipping:</p><p class="total_shipping">0.00</p>
            </div>
            <div class="inline">
                <p>Project total:</p><p class="total_project">0.00</p>
            </div>
            <div class="inline">
                <p>Discount:</p><p class="total_discount">0.00</p>
            </div>
            <div class="inline">
                <p>TAX:</p><p class="total_tax">0.00</p>
            </div>
            <div class="inline">
                <p>Total:</p><p class="total_amount">0.00</p>
            </div>
            <div class="inline">
                <p>Amount due:</p><p class="amount_due">0.00</p>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit">Create</button>
    </form>
</div>