{{>sidebar}}
{{>header}}
{{>token}}
<div class="wrapper invoice-overview">
    <a class="link" href="/invoices/">Invoices</a>
    <a class="button" href="/invoices/edit/{{invoice._id}}">Edit Invoice</a>
    <a class="button" href="/invoices/invoice/pdf/{{invoice._id}}">Show PDF</a>

    <form action="/invoices/delete/{{invoice._id}}/" method="post">
        <button type="submit">Delete</button>
    </form>

    <div class="overview">
        <div class="separate">
            <div class="inline">
                <p>Number:</p><p>{{customization.invoice_prefix}}{{customization.invoice_separator}}{{invoice.number}}</p>
            </div>
            <div class="inline">
                <p>Customer:</p><a href="/customers/customer/{{customer._id}}">
                <p>{{#if customer.personal_information.company}}{{customer.personal_information.company}}{{else}}{{customer.personal_information.first_name}} {{customer.personal_information.last_name}}{{/if}}</p></a>
            </div>
        </div>
        {{#if products}}
            <div class="separate">
                <h2>Products</h2>
                <div class="products table">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th>Picture</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                                <tr>
                                    <td><img src="/uploads/resized/{{picture}}" width="60px" alt=""></td>
                                    <td><a class="link" href="/products/product/{{_id}}">{{name}} {{personal_information.last_name}}</a></td>
                                    <td>{{../user.currency_symbol}} {{price}}</td>
                                    <td>{{quantity}}</td>
                                    <td>{{description}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <button class="button hidden toggleButton" onclick="toggleCollapse(this)">Show More</button>
                </div>
            </div>
        {{/if}}
        {{#if invoice.project_billed.timeTracking}}
            <div class="separate">
                <h2><a class="link" href="/projects/project/{{invoice.project_billed.id}}">{{invoice.project_billed.name}}</a></h2>
                <div class="inline">
                    <p>Total Time:</p><p class="amount_due">{{invoice.project_billed.total_time}}</p>
                </div>
                <p>{{invoice.project_billed.description}}</p>
                <h2>Time Tracking</h2>
                <div class="projects table">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start</th>
                                <th>Stop</th>
                                <th>Total Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each invoice.project_billed.timeTracking}}
                                <tr>
                                    <td><a class="link" href="/projects/project/{{../invoice.project_billed.id}}">{{name}}</a></td>
                                    <td>{{start}}</td>
                                    <td>{{stop}}</td>
                                    <td>{{timePassed}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <button class="button hidden toggleButton" onclick="toggleCollapse(this)">Show More</button>
                </div>
            </div>
        {{/if}}
        {{#if discounts}}
            <div class="separate">
                <h2>Discounts</h2>
                <div class="discounts table">
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Total Amount</th>
                                <th>Percentage Amount</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each discounts}}
                                <tr>
                                    <td><a class="link" href="/settings/discounts/edit/{{_id}}">{{name}}</a></td>
                                    <td>{{code}}</td>
                                    <td>{{../user.currency_symbol}} {{amount.total}}</td>
                                    <td>{{amount.percentage}}%</td>
                                    <td>{{description}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <button class="button hidden toggleButton" onclick="toggleCollapse(this)">Show More</button>
                </div>
            </div>
        {{/if}}
        {{#if shipping_company}}
            <div class="separate">
                <h2>Shipping</h2>
                <div class="inline">
                    <p>Shipping Company:</p><a href="/settings/shipping-companies/edit/{{shipping_company._id}}"><p>{{shipping_company.name}}</p></a>
                </div>
                <div class="inline">
                    <p>Shipping Amount:</p><p>{{invoice.shipping.amount}}</p>
                </div>
            </div>
        {{/if}}
        {{#if paid}}
            <div class="separate">
                <h2>Payments</h2>
                <div class="payments table">
                    <div class="inline">
                        <p>Due date:</p><p>{{invoice.due_date}}</p>
                    </div>
                    <table class="dataTable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each paid}}
                                <tr>
                                    <td>{{paid_on}}</td>
                                    <td>{{paid_amount}}</td>
                                    <td>{{payment_method}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <button class="button hidden toggleButton" onclick="toggleCollapse(this)">Show More</button>
                </div>
            </div>
        {{/if}}
        {{#if invoice.description}}
            <div class="separate">
                <div class="inline">
                    <p>Description:</p><p>{{invoice.description}}</p>
                </div>
            </div>
        {{/if}}
        <div class="separate">
            <div class="inline">
                <p>Product total:</p><p class="total_products"></p>
            </div>
            <div class="inline">
                <p>Shipping:</p><p class="total_shipping"></p>
            </div>
            <div class="inline">
                <p>Discount:</p><p class="total_discount"></p>
            </div>
            <div class="inline">
                <p>VAT:</p><p class="total_vat"></p>
            </div>
            <div class="inline">
                <p>Total:</p><p class="total_amount"></p>
            </div>
            <div class="inline">
                <p>Amount due:</p><p class="amount_due"></p>
            </div>
        </div>
    </div>
</div>