{{>sidebar}}
{{>header}}
{{>token}}
{{>error}}

<div class="wrapper">
    <a href="/invoices/create" class="button create-invoice-button">Create Invoice</a>

    <button onclick="deleteSelectedInvoices()" type="submit">Delete</button>
    <div class="invoices table">
        <table class="table-sort">
            <thead>
                <tr>
                    <th data-field="checkbox">
                        <label class="checkbox">
                            <input type="checkbox" onchange="checkAllBoxes(this)"> 
                        </label>
                    </th>                    
                    <th data-sort="customer_name" data-field="customer_name">Customer</th>
                    <th data-sort="number" data-field="number" data-link="/invoice/" data-prefix="customization_settings.invoice_prefix" data-separator="customization_settings.invoice_separator">Number</th>
                    <th data-sort="created_on" data-field="created_on">Created on</th>
                    <th data-sort="amount_due" data-field="amount_due" data-extra="user.currency_symbol" data-extra-placement="before" data-extra-space="true">Amount Due</th>
                    <th data-sort="amount_total" data-field="amount_total" data-extra="user.currency_symbol" data-extra-placement="before" data-extra-space="true">Total Amount</th>
                    <th data-sort="status" data-field="status">Status</th>
                    <th data-sort="due_date" data-field="due_date">Due Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each invoices }}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input  type="checkbox" class="invoice-checkbox box-checkbox" data-id="{{_id}}"> 
                            </label>
                        </td>
                        <td>{{customer_name}}</td>
                        <td><a class="link" href="/invoices/invoice/{{_id}}">{{../customization_settings.invoice_prefix}}{{../customization_settings.invoice_separator}}{{number}}</a></td>
                        <td>{{created_on}}</td>
                        <td data-field="amount_due">{{../user.currency_symbol}} {{amount_due}}</td>
                        <td>{{../user.currency_symbol}} {{amount_total}}</td>
                        <td>{{status}}</td>
                        <td data-field="due_date">{{due_date}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {{#if (gt currentPage 1)}}
        <a class="previous" data-current-page="{{currentPage}}" data-page="{{subtract currentPage 1}}" href="?page={{subtract currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Previous</a>
        {{/if}}
        {{#if (lt currentPage totalPages)}}
        <a class="next" data-current-page="{{currentPage}}" data-page="{{add currentPage 1}}" href="?page={{add currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Next</a>
        {{/if}}
    </div>
</div>