{{>sidebar}}
{{>header}}
{{>token}}
{{>error}}

<div class="wrapper">
    <a href="/products/create" class="button create-product-button">Create Product</a>

    <button onclick="deleteSelectedProducts()" type="submit">Delete</button>
    <div class="products table">
        <table class="table-sort">
            <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input  type="checkbox" onchange="checkAllBoxes(this)"> 
                        </label>
                    </th>
                    <th data-sort="false" data-field="picture" data-image="60px">Picture</th>
                    <th data-sort="name" data-field="name" data-link="/product/">Name</th>
                    <th data-sort="price" data-field="price">Price</th>
                    <th data-sort="description" data-field="description">Description</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input  type="checkbox" class="product-checkbox box-checkbox" data-id="{{_id}}"> 
                            </label>
                        </td>
                        <td><img src="/uploads/resized/{{picture}}" width="60px" alt=""></td>
                        <td><a class="link" href="/products/product/{{_id}}">{{name}} {{personal_information.last_name}}</a></td>
                        <td>{{../user.currency_symbol}} {{price}}</td>
                        <td>{{description}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {{#if (gt currentPage 1)}}
        <a class="previous" data-current-page="{{currentPage}}" data-page="{{subtract currentPage 1}}" href="?page={{subtract currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Previous</a>
        {{/if}}
        {{#if (lt currentPage totalPages)}}
        <a class="next" data-current-page="{{currentPage}}" data-page="{{add currentPage 1}}" href="?page={{add currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Next</a>
        {{/if}}
    </div>
</div>