{{>sidebar}}
{{>header}}
{{>token}}

<div class="wrapper">
    <a href="/customers/create" class="button create-customer-button">Create Customer</a>

    <button onclick="deleteSelectedCustomers()" type="submit">Delete</button>
    <div class="customers table">
        <table class="table-sort">
            <thead>
                <tr>
                    <th data-field="checkbox">
                        <label class="checkbox">
                            <input  type="checkbox" onchange="checkAllBoxes(this)"> 
                        </label>
                    </th>
                    <th data-sort="customer"data-field="name" data-link="/customer/">Name</th>
                    <th data-sort="personal_information.email"data-field="personal_information.email">Email</th>
                    <th data-sort="amount_due" data-field="amount_due" data-extra="user.currency_symbol" data-extra-placement="before" data-extra-space="true">Amount Due</th>
                    <th data-sort="created_on" data-field="created_on">Created on</th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input  type="checkbox" class="customer-checkbox box-checkbox" data-id="{{_id}}"> 
                            </label>
                        </td>
                        <td><a class="link" href="/customers/customer/{{_id}}">{{#if personal_information.company}}{{personal_information.company}}{{else}}{{personal_information.first_name}} {{personal_information.last_name}}{{/if}}</a></td>
                        <td>{{personal_information.email}}</td>
                        <td>placeholder</td>
                        <td>{{created_on}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="pagination">
            {{#if (gt currentPage 1)}}
            <a class="previous" data-current-page="{{currentPage}}" data-page="{{subtract currentPage 1}}" href="?page={{subtract currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Previous</a>
            {{/if}}
            {{#if (lt currentPage totalPages)}}
            <a class="next" data-current-page="{{currentPage}}" data-page="{{add currentPage 1}}" href="?page={{add currentPage 1}}{{#if link_options}}{{link_options}}{{/if}}">Next</a>
            {{/if}}
        </div>
    </div>
</div>